# .github/workflows/test.yml
# Runs Playwright tests on push, PR, schedule, and manual trigger

name: Run Playwright tests

on:
  push:          # runs on every push
  pull_request:  # runs on new PRs or PR updates
  workflow_dispatch:

jobs:
  run-tests:
    name: Run Playwright Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Create .env file
        run: |
          echo "USERNAME=${{ secrets.USERNAME }}" >> .env
          echo "PASSWORD=${{ secrets.PASSWORD }}" >> .env
          echo "NEW_PASSWORD=${{ secrets.NEW_PASSWORD }}" >> .env
          echo "FIRST_NAME=${{ secrets.FIRST_NAME }}" >> .env
          echo "STREET_NAME=${{ secrets.STREET_NAME }}" >> .env
          echo "CITY=${{ secrets.CITY }}" >> .env
          echo "STATE=${{ secrets.STATE }}" >> .env
          echo "COUNTRY=${{ secrets.COUNTRY }}" >> .env
          echo "ZIP_CODE=${{ secrets.ZIP_CODE }}" >> .env
     
      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install deps + browsers
        run: |
          npm ci
          npx playwright install --with-deps 

      - name: Run Playwright tests
        run: npx playwright test 

      - name: Cache Failure Test metadata (always)  
        if: always()
        run: npx tdpw cache --token="${{ secrets.TESTDINO_TOKEN }}"

      - name: Send TestDino report
        if: always()
        # env:
        #   NODE_ENV: staging
        run: |
         npx --yes tdpw ./playwright-report --token="${{ secrets.TESTDINO_TOKEN }}" --upload-html --verbose